{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
      <a href="{% url 'home' %}">Home</a>
      &rsaquo; Frequency Tables
  </div>
{% endblock %}

{% block content %}
  <div class="container body-content">

    {% if authenticated %}
      <!-- Room for errors -->
      <div id="research_err"></div>

      <!-- Provide details of this set -->
      <div class="row">
        <h3>Titles and authors (sorted)</h3>
        <table>
          <thead><tr><th>#</th><th>Author</th><th>Title</th></tr></thead>
          <tbody>
            {% for item in headers %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{item.author}}</td>
              <td>{{item.title}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Continue if there is a status -->
      {% if status %}
        <div class="row">Status: {{status}}</div>

        <!-- Process a PCA response -->
        {% if r_pca_response %}
          <div class="row">R response on PCA: {{r_pca_response}}</div>
          <!-- Show the contents -->
          {% if r_pca_contents %}
            <div class="row">
              <h4>PCA coordinates:</h4>
              <table>
                <thead>
                  <tr>
                    {% for colheading in r_pca_contents.colnames %}
                    <th>{{colheading}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for row in r_pca_contents.fulltable %}
                  {% if not forloop.first %}
                  <tr>
                    {% for cell in row %}
                      <td>{{cell}}</td>
                    {% endfor %}
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% endif %}
        {% endif %}

        <!-- Process a CA response -->
        {% if r_ca_response %}
          <div class="row">R response on CA: {{r_ca_response}}</div>
          <!-- Show the contents -->
          {% if r_ca_contents %}
            <div class="row">
              <h4>CA distance table:</h4>
              <table>
                <thead>
                  <tr><th>Row</th><th>.</th> {% for colheading in r_ca_contents.dt_colnames %} <th class=""><div>{{forloop.counter}}</div></th> {% endfor %} </tr>
                </thead>
                <tbody>
                  {% for row in r_ca_contents.dt_fulltable %}
                  {% if not forloop.first %}
                  <tr><td>{{forloop.counter0}}</td> 
                    {% for cell in row %} 
                    <td {% if not forloop.first %}align="right"{% endif %}>{{cell}}</td> 
                    {% endfor %} </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <div class="row">
              <h4>CA tree hierarchy</h4>
              <table>
                <thead>
                  <tr><th>Row</th><th>source</th><th>target</th></tr>
                </thead>
                <tbody>
                  {% for row in r_ca_contents.cl_merge %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    {% for cell in row %}
                      <td>{{cell}}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <div class="row">
              <h4>CA list of edges:</h4>
              <table>
                <thead>
                  <tr><th>Type</th><th>Weight</th><th>Target</th><th>Source</th></tr>
                </thead>
                <tbody>
                  {% for row in r_ca_contents.loe_table %}
                  <tr><td>{{row.Type}}</td><td align="center">{{row.Weight}}</td><td>{{row.Target}}</td><td>{{row.Source}}</td></tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <div id="svgca">
              {{r_ca_contents.svg|safe}}
            </div>
          {% endif %}
        {% endif %}



        <!-- Make room for an SVG plot-->
        <div id="svgplot">
          <!-- This is where the SVG will appear -->

        </div>
      {% endif %}

    <!-- The script to run the code -->
    <script>
      // Call the function to get the data and draw a chart
      ru.nstylo.showtabledata("{% url 'tabledata' pk=table_id %}", "#svgplot");
    </script>


    {% else %}
      <div class="explanation">
        <p>Dear user, you are <b>not</b> logged in.</p>
        <p>Unfortunately this means that you will not be able to see any of the functions that are available.</p>
        <p>Should you want to work with Cesar, then here are your options:
          <ul>
            <li><a class="btn btn-info btn-xs" href="{% url 'login' %}">Login</a> - if you have an account</li> 
          </ul>
        </p>
      </div>
    {% endif %}

  </div>


{% endblock %}