<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylometry/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'stylometry/content/ru-base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'stylometry/content/site.css' %}" />
    <script src="{% static 'stylometry/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'stylometry/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'stylometry/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'stylometry/scripts/respond.js' %}"></script>
    <script src="{% static 'stylometry/scripts/prototype.js' %}"></script>
    <script src="{% static 'stylometry/scripts/d3.v3.min.js' %}"></script>
    <script src="{% static 'stylometry/scripts/nstylo.js' %}"></script>
{% block scripts %}{% endblock %}
{% block header_content %}{% endblock %}
</head>

<body>
{% load i18n %}
{% include 'topnav.html' %}

{% block breadcrumbs %}{% endblock %}

    <div class="container-fluid body-content">

{% block content %}<div id="content"></div>{% endblock %}

        <hr/>
        <footer>
            <div id="footer">
            {% block footerContent %}{% endblock %}
            </div>
            <p>&copy; {{ year }} - Nstylo</p>
        </footer>
    </div>


</body>
</html>
